<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
    <application
        android:allowBackup="false"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:label="Granpa"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".QAActivity" />
        <activity android:name=".ChartZoomActivity" />
        <activity android:name=".PumpDetailsActivity" />
        <activity android:name=".CatalogueActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".CompareResultsActivity" />
        <activity android:name=".CompareActivity" />
        <activity android:name=".BrandSelectionActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" android:exported="true" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
