<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:label="Granpa"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".QAActivity" android:screenOrientation="portrait" />
        <activity android:name=".PumpDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".CatalogueActivity" android:screenOrientation="portrait" />
        <activity android:name=".ResultsActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
